<footer class="footer">
 
    <div class="footer__container">

        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum

            </p>
        </section>

        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>proway@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i>(90)9988-3636</li>
                <li><i class="fa-brands fa-whatsapp"></i>(90)9988-3636</li>
            </ul>
        </address>
    </div>

    <section class="footer__copyright">
        &copy; Todos os direitos reservados.
    </section>

</footer>
